projects/_root/*.lst
projects/_root/*.vars
projects/_root/*.yaml
projects/_root/*~*~*.bat
projects/_root/*~*~*.sh
projects/_root/.log
projects/_root/__pycache__
projects/_root/_cache/*
projects/contools/*.lst
projects/contools/*.vars
projects/contools/*.yaml
projects/contools/*~*~*.bat
projects/contools/*~*~*.sh
projects/contools/.log
projects/contools/3dparty/*.lst
projects/contools/3dparty/*.vars
projects/contools/3dparty/*.yaml
projects/contools/3dparty/*~*~*.bat
projects/contools/3dparty/*~*~*.sh
projects/contools/3dparty/.log
projects/contools/3dparty_scripts/*.lst
projects/contools/3dparty_scripts/*.vars
projects/contools/3dparty_scripts/*.yaml
projects/contools/3dparty_scripts/*~*~*.bat
projects/contools/3dparty_scripts/*~*~*.sh
projects/contools/3dparty_scripts/.log
projects/contools/Tools/*.lst
projects/contools/Tools/*.vars
projects/contools/Tools/*.yaml
projects/contools/Tools/*~*~*.bat
projects/contools/Tools/*~*~*.sh
projects/contools/Tools/.log
projects/contools/bittools/*.lst
projects/contools/bittools/*.vars
projects/contools/bittools/*.yaml
projects/contools/bittools/*~*~*.bat
projects/contools/bittools/*~*~*.sh
projects/contools/bittools/.log
projects/contools/contools/*.lst
projects/contools/contools/*.vars
projects/contools/contools/*.yaml
projects/contools/contools/*~*~*.bat
projects/contools/contools/*~*~*.sh
projects/contools/contools/.log
projects/contools/debug/*.lst
projects/contools/debug/*.vars
projects/contools/debug/*.yaml
projects/contools/debug/*~*~*.bat
projects/contools/debug/*~*~*.sh
projects/contools/debug/.log
projects/contools/deploy/*.lst
projects/contools/deploy/*.vars
projects/contools/deploy/*.yaml
projects/contools/deploy/*~*~*.bat
projects/contools/deploy/*~*~*.sh
projects/contools/deploy/.log
projects/contools/external_tools/*.lst
projects/contools/external_tools/*.vars
projects/contools/external_tools/*.yaml
projects/contools/external_tools/*~*~*.bat
projects/contools/external_tools/*~*~*.sh
projects/contools/external_tools/.log
