* text=auto !eol
__scm_root/bb~git_init.bat -text
__scm_root/bb~git_pull_all.bat -text
__scm_root/bb~git_reset_all.bat -text
__scm_root/bb~svn_to_git_sync_all.bat -text
__scm_root/configure.bat -text
__scm_root/gh~git_init.bat -text
__scm_root/gh~git_pull_all.bat -text
__scm_root/gh~git_reset_all.bat -text
__scm_root/gh~svn_to_git_sync_all.bat -text
__scm_root/sf~svn_checkout_all.bat -text
__scm_root/sf~svn_update_all.bat -text
_contools/bb~contools--Tools.git_fetch.bat -text
_contools/bb~contools--Tools.git_init.bat -text
_contools/bb~contools--Tools.git_pull_all.bat -text
_contools/bb~contools--Tools.git_reset_all.bat -text
_contools/bb~contools--Tools.svn_to_git_sync_all.bat -text
_contools/bb~contools.git_fetch.bat -text
_contools/bb~contools.git_init.bat -text
_contools/bb~contools.git_pull_all.bat -text
_contools/bb~contools.git_reset_all.bat -text
_contools/bb~contools.svn_to_git_sync_all.bat -text
_contools/bb~external_tools.git_fetch.bat -text
_contools/bb~external_tools.git_init.bat -text
_contools/bb~external_tools.git_pull_all.bat -text
_contools/bb~external_tools.git_reset_all.bat -text
_contools/bb~external_tools.svn_to_git_sync_all.bat -text
_contools/configure.bat -text
_contools/gh~contools--Tools.git_fetch.bat -text
_contools/gh~contools--Tools.git_init.bat -text
_contools/gh~contools--Tools.git_pull_all.bat -text
_contools/gh~contools--Tools.git_reset_all.bat -text
_contools/gh~contools--Tools.svn_to_git_sync_all.bat -text
_contools/gh~contools.git_fetch.bat -text
_contools/gh~contools.git_init.bat -text
_contools/gh~contools.git_pull_all.bat -text
_contools/gh~contools.git_reset_all.bat -text
_contools/gh~contools.svn_to_git_sync_all.bat -text
_contools/gh~external_tools.git_fetch.bat -text
_contools/gh~external_tools.git_init.bat -text
_contools/gh~external_tools.git_pull_all.bat -text
_contools/gh~external_tools.git_reset_all.bat -text
_contools/gh~external_tools.svn_to_git_sync_all.bat -text
_contools/sf~contools.svn_checkout_all.bat -text
_contools/sf~contools.svn_update_all.bat -text
_contools/sf~external_tools.svn_checkout_all.bat -text
_contools/sf~external_tools.svn_update_all.bat -text
