projects/_root/*.vars
projects/_root/3dparty/*.vars
projects/_root/3dparty/dev/*.lst
projects/_root/3dparty/dev/*.vars
projects/_root/3dparty/scripts/*.lst
projects/_root/3dparty/scripts/*.vars
projects/contools/*.vars
projects/contools/3dparty/*.lst
projects/contools/3dparty/*.vars
projects/contools/3dparty_scripts/*.lst
projects/contools/3dparty_scripts/*.vars
projects/contools/Tools/*.lst
projects/contools/Tools/*.vars
projects/contools/bittools/*.lst
projects/contools/bittools/*.vars
projects/contools/contools/*.lst
projects/contools/contools/*.vars
projects/contools/debug/*.lst
projects/contools/debug/*.vars
projects/contools/deploy/*.lst
projects/contools/deploy/*.vars
projects/contools/external_tools/*.lst
projects/contools/external_tools/*.vars
